.filters-block {
  &__category-items,
  &__brand-items {
    height: 300px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: #dddddd;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a0a0a0;
      border-radius: 5px;
    }
  }
}

.checkbox-filter {
  &__cb {
    margin-right: 10px;
  }
  &__count {
    margin-right: 5px;
    text-align: right;
  }
}

.noUi-target {
  margin-right: 12px;
}

.noUi-ltr {
  height: 10px;
}

.noUi-handle {
  height: 22px !important;
  width: 22px !important;
}

.slider {
  &__connects {
    height: 10px;
  }
  &__connect {
    background: #a0a0a0; 
  }
}

