.filters-block {
  &__category-items,
  &__brand-items {
    height: 300px;
    overflow: auto;
  }
}

.checkbox-filter {
  &__cb {
    margin-right: 10px;
  }
  &__count {
    margin-right: 5px;
    text-align: right;
  }
}
