.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(33, 37, 41);
  color: white;
  &__cart {
    cursor: pointer;
  }
}

.nav {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  text-decoration: none;
  color: black;
}
